<%= form_with model: third_party_type, data: { turbo: false } do |f| %>
  <div class="mb-3">
    <%= f.label 'nombre', class: "form-label text-uppercase" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="d-flex justify-content-end">
    <%= f.submit 'GUARDAR', class: "btn btn-primary" %>
  </div>
<% end %>
