<%= button_to ' Crear nuevo cobro ',
  new_collection_path(format: :turbo_stream, user_id: parent_id),
  method: :get, form: { data: { turbo_frame: "modal" }, class: "d-inline" },
  class: "btn btn-primary btn-sm p-1 px-2 mb-2" %>

<% collections.each do |collection| %>
  <turbo-frame id="collection_<%= collection.id %>">
    <div class="alert alert-info d-flex justify-content-between align-items-center p-2">
      <span><strong><%= collection.name %></strong></span>
      <%= button_to "Editar", edit_collection_path(collection, format: :turbo_stream),
                  method: :get, form: { data: { turbo_frame: "modal" }, class: "d-inline" },
                  class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </turbo-frame>
<% end %>
