<%= link_to ' Crear nuevo registro ',
  new_user_path(
    format: :html,
    from: :hierarchy,
    hierarchy_level: level,
    parent_id: parent_id
  ),
  data: { turbo_frame: "modal" },
  class: "btn btn-primary btn-sm p-1 px-2 mb-1" %>

<% users.each do |user| %>
  <% if next_level %>
    <%= link_to user.name_with_role,
                hierarchy_users_path("#{next_level}" => user.id),
                data: { turbo_frame: turbo_frame_id(next_level) },
                class: "btn btn-outline-primary d-block mb-1" %>
  <% else %>
    <div class="alert alert-secondary p-2">
      <%= user.name_with_role %>
    </div>
  <% end %>
<% end %>