
<div class="row">
  <div class="col-md-3">
    <h5>Owners</h5>
    <%= render partial: "users/user_list", locals: {
      users: User.owner,
      next_level: :selected_owner_id,
      level: :owner,
      parent_id: nil
    } %>
  </div>

  <div class="col-md-3">
    <h5>Partners</h5>
    <turbo-frame id="collectors">
      <% if params[:selected_owner_id] %>
        <%= render partial: "users/user_list", locals: {
          users: User.where(parent_id: params[:selected_owner_id], hierarchy_level: :partner),
          next_level: :selected_partner_id,
          level: :partner,
          parent_id: params[:selected_owner_id]
        } %>
      <% else %>
        <p class="text-muted">Select an owner</p>
      <% end %>
    </turbo-frame>
  </div>

  <div class="col-md-3">
    <h5>Collectors</h5>
    <turbo-frame id="charges">
      <% if params[:selected_partner_id] %>
        <%= render partial: "users/user_list", locals: {
          users: User.where(parent_id: params[:selected_partner_id], hierarchy_level: :collector),
          next_level: :selected_collector_id,
          level: :collector,
          parent_id: params[:selected_partner_id]
        } %>
      <% else %>
        <p class="text-muted">Select a partner</p>
      <% end %>
    </turbo-frame>
  </div>

  <div class="col-md-3">
    <h5>Charge Info</h5>
    <turbo-frame id="charge_info">
      <% if params[:selected_collector_id] %>
        <%= render partial: "users/user_list", locals: {
          users: User.where(parent_id: params[:selected_collector_id], hierarchy_level: :charge),
          next_level: nil,
          parent_id: params[:selected_collector_id]
        } %>
      <% else %>
        <p class="text-muted">Select a collector</p>
      <% end %>
    </turbo-frame>
  </div>
</div>