<!-- app/views/users/index.html.erb -->

<div class="card-header d-flex align-items-center justify-content-between border-bottom border-light">
  <h4 class="header-title">Usuarios</h4>
  <%= button_to 'Nuevo Usuario', new_user_path(format: :turbo_stream), method: :get, form: { data: { turbo_frame: "modal" } }, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-nowrap mb-0">
    <thead class="bg-light-subtle">
      <tr>
        <th>Usuario</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= turbo_frame_tag "users_table" do %>
        <%= render "table", users: @users %>
      <% end %>
    </tbody>
  </table>
</div>