<% @page_title = "Column Charts" %>

<%= render 'layouts/partials/page_title', page_title: "Column Charts", sub_title: "Charts" %>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Basic Column Chart</h4>
        <div dir="ltr">
          <div id="basic-column" class="apex-charts" data-colors="#727cf5,#0acf97,#fa5c7c"></div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="d-flex card-header justify-content-between align-items-center">
        <h4 class="header-title">Grafico Dinamico</h4>
        <div class="flex-shrink-0">
          <select id="model" class="form-select form-select-sm">
            <option value="iphone5">Compras</option>
            <option value="iphone6">Abonos</option>
            <option value="iphone7">Gastos</option>
          </select>
        </div>
      </div>

      <div class="card-body pt-0">
        <h4 class="header-title"></h4>
        <div dir="ltr">
          <div class="row">
            <div class="col-sm-6">
              <div id="chart-year" data-colors="#727cf5,#6c757d,#0acf97,#fa5c7c,#ffbc00,#39afd1"></div>
            </div>
            <div class="col-sm-6">
              <div id="chart-quarter" data-colors="#727cf5,#6c757d,#0acf97,#fa5c7c,#ffbc00,#39afd1"></div>
            </div>
          </div> <!-- end row-->
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
</div>
<!-- end row-->



<% content_for :javascript do %>
  <%= javascript_include_tag 'pages/chart-apex-column.js', defer: true %>
<% end %>