<% @page_title = "Polar Area Charts" %>

<%= render 'layouts/partials/page_title', page_title: "Polar Area Charts", sub_title: "Charts" %>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Basic Polar Area Chart</h4>
        <div dir="ltr">
          <div id="basic-polar-area" class="apex-charts" data-colors="#727cf5,#6c757d,#0acf97,#fa5c7c,#ffbc00,#39afd1"></div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Monochrome Polar Area</h4>
        <div dir="ltr">
          <div id="monochrome-polar-area" class="apex-charts" data-colors="#6c757d"></div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
</div>
<!-- end row-->

<% content_for :javascript do %>
  <%= javascript_include_tag 'pages/chart-apex-polar-area.js', defer: true %>
<% end %>