<% @page_title = "Radar Charts" %>

<%= render 'layouts/partials/page_title', page_title: "Radar Charts", sub_title: "Charts" %>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Basic Radar Chart</h4>
        <div dir="ltr">
          <div id="basic-radar" class="apex-charts" data-colors="#727cf5"></div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Radar with Polygon-fill</h4>
        <div dir="ltr">
          <div id="radar-polygon" class="apex-charts" data-colors="#FF4560"></div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
</div>
<!-- end row-->

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Radar – Multiple Series</h4>
        <div dir="ltr">
          <div id="radar-multiple-series" class="apex-charts" data-colors="#727cf5,#02a8b5,#fd7e14"></div>
          <div class="text-center mt-2">
            <button onclick="update()" class="btn btn-sm btn-primary">Update</button>
          </div>
        </div>
      </div>
      <!-- end card body-->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->
</div>
<!-- end row-->


<% content_for :javascript do %>
  <%= javascript_include_tag 'pages/chart-apex-radar.js', defer: true %>
<% end %>