<!-- app/views/permissions/index.html.erb -->

<div class="card-header d-flex align-items-center justify-content-between border-bottom border-light">
  <h4 class="header-title">Permisos</h4>
<%= button_to 'Nueva Permiso', new_permission_path(format: :turbo_stream), method: :get, form: { data: { turbo_frame: "modal" } }, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-nowrap mb-0">
    <thead class="bg-light-subtle">
      <tr>
        <th>Nombre</th>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
        <%= turbo_frame_tag "permissions_table" do %>
            <%= render "table", permissions: @permissions %>
        <% end %>
    </tbody>
  </table>
</div>
