<%= search_form_for q, url: section_permissions_path, method: :get, html: { data: { turbo_frame: "section_permissions_table" } } do |f| %>
  <div class="row mb-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="input-group">
        <%= f.search_field :section_name_or_permission_name_cont,
          placeholder: "Buscar sección o permiso...",
          class: "form-control form-control-sm" %>
        <button class="btn btn-outline-secondary btn-sm" type="submit">Buscar</button>
      </div>
    </div>
  </div>
<% end %>