<% @page_title = "Clinic" %>

<div class="row">
  <div class="col-12">
    <div class="page-title-head d-flex align-items-sm-center flex-sm-row flex-column">
      <div class="flex-grow-1">
        <h4 class="fs-18 fw-semibold m-0">Bienvenidos, <%= current_user.full_name %> 👋</h4>
      </div>
      <div class="mt-3 mt-sm-0">
      </div>
    </div><!-- end card header -->
  </div>
  <!--end col-->
</div>

<div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 align-items-center">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <a href="#!" class="text-muted float-end mt-n1 fs-18"><i class="ti ti-external-link"></i></a>
        <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">Clientes</h5>
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="avatar-md flex-shrink-0">
                                        <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                            <i class="ti ti-calendar-week"></i>
                                        </span>
          </div>
          <h3 class="mb-0 fw-bold">185 <span class="badge text-bg-success fw-medium ms-2 fs-12">Hoy</span></h3>
        </div>
        <p class="mb-1">
          <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
          <span class="text-nowrap text-muted">Nuevos</span>
          <span class="float-end"><b>125</b></span>
        </p>
        <p class="mb-0">
          <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
          <span class="text-nowrap text-muted">Total Clientes</span>
          <span class="float-end"><b>89.5k</b></span>
        </p>
      </div>
    </div>
  </div><!-- end col -->

  <div class="col">
    <div class="card">
      <div class="card-body">
        <a href="#!" class="text-muted float-end mt-n1 fs-18"><i class="ti ti-external-link"></i></a>
        <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">Total Prestamos</h5>
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="avatar-md flex-shrink-0">
                                        <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                            <i class="ti ti-users"></i>
                                        </span>
          </div>
          <h3 class="mb-0 fw-bold">75.6K</h3>
        </div>
        <p class="mb-1">
          <span class="text-primary me-1"><i class="ti ti-minus"></i></span>
          <span class="text-nowrap text-muted">Nuevos Prestamos</span>
          <span class="float-end"><b>61k</b></span>
        </p>
        <p class="mb-0">
          <span class="text-primary me-1"><i class="ti ti-minus"></i></span>
          <span class="text-nowrap text-muted">Viejos Prestamos</span>
          <span class="float-end"><b>75.5K</b></span>
        </p>
      </div>
    </div>
  </div><!-- end col -->

  <div class="col">
    <div class="card">
      <div class="card-body">
        <a href="#!" class="text-muted float-end mt-n1 fs-18"><i class="ti ti-external-link"></i></a>
        <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">Morosos</h5>
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="avatar-md flex-shrink-0">
                                        <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                            <i class="ti ti-hospital-circle"></i>
                                        </span>
          </div>
          <h3 class="mb-0 fw-bold">195
            <span class="badge text-bg-danger fw-medium ms-2 fs-12">Hoy</span></h3>
        </div>
        <p class="mb-1">
          <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
          <span class="text-nowrap text-muted">Total Morosos</span>
          <span class="float-end"><b>150</b></span>
        </p>
        <p class="mb-1">
          <span class="text-primary me-1"><i class="ti ti-point-filled"></i></span>
          <span class="text-nowrap text-muted">Total Morosos</span>
          <span class="float-end"><b>152</b></span>
        </p>
      </div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->

<% content_for :javascript do %>
  <%= javascript_include_tag 'pages/dashboard-clinic.js', defer: true %>
<% end %>